@model IEnumerable<ShiftManagementHelper.Models.Shifts.ShiftListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="indexHeader">Shift Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table indexTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShiftId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShiftId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ShiftId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShiftId })
        </td>
    </tr>
}

</table>
